<div class="container-fluid">
  <div class="row-fluid">
    <div class="span1 arrow arrow-left">
      <img src="/img/left-arrow.png"/>
    </div>
    <div class="span10 middle">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>n°</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Motif</th>
            <th>Schéma</th>
            <th>Chambre</th>
          </tr>
          <tr class="controls">
            <th><input name="id" type="text"/></th>
            <th><input name="no" type="text"/></th>
            <th><input name="first_name" type="text"/></th>
            <th><input name="last_name" type="text"/></th>
            <th><input name="cause" type="text"/></th>
            <th><input name="treatment" type="text"/></th>
            <th><input name="room" type="text"/></th>
          </tr>
        </thead>
        <tbody>
          <!-- see log-table/tbody.mustache -->
        </tbody>
      </table>
    </div>
    <div class="span1 arrow arrow-right">
      <img src="/img/right-arrow.png"/>
    </div>
  </div>
  <script>
    $(function(){
      $('#log-table table tr th input').keyup(function(){
        filter = {};
        filter[this.name] = this.value;
        logBook.logTableView.setFilter(filter);
      });
    });
  </script>
</div>
