<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>LogBook</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">
  </head>
  <body>
    <table class="table table-striped table-bordered table-condensed">
    {{#people}}
      <tr>
        <td>{{name}}</td>
      </tr>
    {{/people}}
    </table>
  </body>
</html>