body{
  padding: 20px;
}
#navbar .navbar-inner {
  height: 40px;
  padding: 15px 0px;
  padding-left: 50px;
}
#log-table{
  margin-top: 90px;
  overflow:auto;
}
#log-table .arrow {
  height: 500px;
  position: relative;
  text-align: center;
  padding-top:100px;
}
#log-table tr th {
  text-align: center;
  padding: 8px 0px 4px 0px;
}
#log-table tr.controls th {
  margin: 0px;
  padding: 0px 0px 4px 0px;
}
#log-table th input {
  width: 90%;
  padding: 4px;
  margin: 0px;
  border-radius: 0px;
}
#footer{
  color: grey;
  text-align: center;
}